body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/public/baikal2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    animation: backgroundZoom 20s ease-in-out infinite alternate;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 2;
}

h1 {
    color: #1a1a1a;
    font-size: 2.5em;
    margin-bottom: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
}

p {
    line-height: 1.6;
    font-size: 1.2em;
    color: #4a4a4a;
    margin-bottom: 2rem;
}

.info {
    min-width: min-content;
    background-color: rgba(255, 255, 255, 0.9); /* Полупрозрачный белый фон */
    border-radius: 16px;
    padding: 2.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 
                0 2px 4px -1px rgba(0, 0, 0, 0.06);
    max-width: 800px;
    margin: 0 auto;
    backdrop-filter: blur(5px); /* Размытие фона */
}

.button {
    width: calc(100% - 2rem);
    padding: 1rem;
    display: inline-block;
    background-color: #2563eb;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    transition: all 0.3s ease;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 0.5px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #1d4ed8;
    transform: translateY(-2px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 
                0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.button:active {
    transform: translateY(0);
}

@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }
    
    p {
        font-size: 1.1em;
    }
    
    .info {
        padding: 1.5rem;
        border-radius: 12px;
    }
    
    .button {
        font-size: 1.1em;
        padding: 0.8rem;
    }
}

@keyframes backgroundZoom {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}